/* Global */
main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}


/* HomeScreen */

/* Components */
.rating span {
  margin: 0.1rem;
}

.main-loader {
  width: 100%;
  height: 100%;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

/* ProductScreen*/
.product-screen h2 {
  font-size: 1.1rem;
}
